In [1]:
from word2gauss import embeddings

In [2]:
embeddings.GaussianEmbedding

word2gauss.embeddings.GaussianEmbedding

In [3]:
from word2gauss import GaussianEmbedding, iter_pairs
from vocab import Vocabulary

# v = Vocabulary()
# with open('./text8.txt','r', encoding='utf-8') as corpus:
#     v.create(corpus,[(10000000,5,350)])
#
# v.save('text8_voc.gz')  #save file

# load vocab
v = Vocabulary.load('F:/project_code/text8_voc.gz')

In [4]:
embed =GaussianEmbedding(len(v),50,covariance_type='diagonal', energy_type='KL')

In [5]:
with open('F:/project_code/text8.txt','r', encoding='utf-8') as corpus:
    embed.train(iter_pairs(corpus,v),n_workers =8)

In [28]:
embed.mu[2]

array([ 0.07002458, -0.02038968, -0.12386113,  0.00926385, -0.00277964,
        0.082022  , -0.0879555 ,  0.25373802, -0.11609848,  0.00283996,
        0.05600256, -0.00611799,  0.04759741, -0.12524292, -0.18578048,
       -0.08639326,  0.15393983,  0.17905636, -0.15513733, -0.09983148,
        0.18057103,  0.13020197,  0.05245945, -0.1439855 , -0.08321945,
       -0.02347384,  0.01390748, -0.26431888, -0.07894579,  0.00561705,
        0.12215566, -0.08706398, -0.08557901, -0.08358986,  0.0635557 ,
        0.02245686,  0.09920093, -0.01490821,  0.11088322,  0.17227882,
        0.06080519, -0.03836718,  0.07757264,  0.02873071, -0.16419843,
        0.10882247, -0.03851369, -0.02312459, -0.03881726, -0.14965168],
      dtype=float32)

In [29]:
embed.sigma[2]

array([0.76558083, 1.325461  , 0.76672715, 0.916667  , 0.76260185,
       0.75588775, 0.7394376 , 1.4708748 , 0.87684226, 0.7321826 ,
       1.4445016 , 0.76928747, 1.4808095 , 0.81312495, 0.77297765,
       1.493331  , 0.74693036, 0.740024  , 1.4572362 , 0.7196449 ,
       0.79548544, 0.78350127, 0.9175398 , 1.4086168 , 0.78649426,
       1.0231471 , 1.4890703 , 0.7942912 , 0.76251084, 1.2901196 ,
       0.74945104, 1.4440203 , 1.4526248 , 0.72903734, 1.0449295 ,
       1.1349185 , 1.4482007 , 0.7282574 , 1.481307  , 0.7885483 ,
       0.72126454, 0.7404063 , 0.82159734, 0.7781881 , 0.725799  ,
       1.4943755 , 0.75867033, 0.7357503 , 0.7483915 , 0.78989816],
      dtype=float32)

In [12]:
import numpy as np

In [30]:
import pandas as pd
example = pd.read_csv('F:/MSc DS/Project/Github_resource/hypernymysuite/hypernymysuite-master/example.tsv',sep='\t',header =0)

In [31]:
def KL_div(mui,muj, sigmai,sigmaj,K =50):
    trace_fac =0.0
    mu_diff_sq =0.0
    det_fac =1.0
    for k in range(K):
        sigma_ratio = sigmai[k]/sigmaj[k]
        trace_fac +=sigma_ratio
        mu_diff = mui[k]-muj[k]
        mu_diff_sq += mu_diff* mu_diff/sigmaj[k]
        
        det_fac *= sigma_ratio
        
        # boound def_fac
    if det_fac < 1.0e-8:
        det_fac = 1.0e-8
    elif det_fac > 1.0e8:
        det_fac = 1.0e8
        
    
#     sigma_ratio = sigmai/sigmaj
#     det_fac = K*np.log(sigma_ratio)
#     trace_fac = K* sigma_ratio
    
#     mu_diff_sq = 0
#     for k in range(K):
#         mu_diff = mui[k]-muj[k]
#         mu_diff_sq += mu_diff* mu_diff
        
    return 0.5*(trace_fac + mu_diff_sq - K - np.log(det_fac))

In [15]:
example

                 hypo       hyper       sim  is_oov
0               1840s       1850s  0.127720       0
1               1850s       1860s  0.193895       0
2               1880s       1890s  0.051568       0
3               1890s       1900s  0.065130       0
4               1910s       1920s  0.038549       0
...               ...         ...       ...     ...
41177            zoom       india  0.001010       0
41178  zoroastrianism  monotheism  0.021217       0
41179        zucchini        food  0.010976       0
41180        zucchini       novel  0.004437       0
41181        zucchini      squash  0.063625       0

[41182 rows x 4 columns]

In [16]:
def get_sim(word1, word2):
    result =  KL_div(embed.mu[v.word2id(word1)],embed.mu[v.word2id(word2)],embed.sigma[v.word2id(word1)],embed.sigma[v.word2id(word2)])
    return result

In [17]:
v.word2id('caaat')

KeyError:

In [18]:
m = example.shape[0]

In [21]:
for i in range(m):
    try:
        example.sim[i]= get_sim(example.hypo[i],example.hyper[i])
    except KeyError as e:
        example.is_oov[i] =1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [22]:
example

                 hypo       hyper       sim  is_oov
0               1840s       1850s  0.127720       1
1               1850s       1860s  0.193895       1
2               1880s       1890s  0.051568       1
3               1890s       1900s  0.065130       1
4               1910s       1920s  0.038549       1
...               ...         ...       ...     ...
41177            zoom       india  0.922758       0
41178  zoroastrianism  monotheism  1.244250       0
41179        zucchini        food  1.289799       0
41180        zucchini       novel  1.214786       0
41181        zucchini      squash  1.634293       0

[41182 rows x 4 columns]

In [27]:
test =np.array(example).tolist()
import csv
with open(r'F:/MSc DS/Project/Github_resource/hypernymysuite/hypernymysuite-master/example/KL_text8_diagonal.tsv','w',newline='') as f:
    tsv_w= csv.writer(f, delimiter='\t')
    tsv_w.writerow(['hypo','hyper','sim','is_oov'])
    tsv_w.writerows(test)

In [23]:
get_sim('cat','animal')

0.22819927569503579

In [25]:
get_sim('animal','cat')

0.22917833403439936